* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #932d34;
    --secondary: #95989A;
    --text-color: #FFFFFF;
    --text-secondary: #000;
    --text-tertiary: #5d5d5d;
    --background-input: #BD5C5C;
    --background-vantagens: #2B2B2B;
}

.container {
    width: 100%;
    height: 70px;
    background: #f2f2f2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container img {
    width: 150px;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    gap: 20px;
}

.menu ul li a {
    text-decoration: none;
    color: #000;
    font-size: 19px;
    font-weight: 500;
}

.menu ul li a:hover {
    color: var(--primary);
}

.container_banner {
    width: 100%;
    height: 100vh;
    background: url(../img/fundo.png) no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 30px;
    color: var(--text-color);
}

.btn_action {
    width: 300px;
    height: 50px;
    background: var(--primary);
    border: none;
    border-radius: 5px;
    color: var(--text-color);
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 4rem;
}

.btn_action:hover {
    background: var(--background-input);
}

.cards_beneficios {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cards_beneficios h2,
.equipamentos h2,
.solucoes_ponto h2,
.sistema_ponto h2{
    font-size: 30px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: var(--background-vantagens);
    border-bottom: var(--primary) solid 2px;
}

.container_beneficios {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
}

.cards_beneficios .card {
    background-color: var(--secondary);
    width: 400px;
    text-align: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 1rem;
}

.cards_beneficios .card:hover {
    background-color: var(--background-vantagens);
    color: var(--text-color);
}

.equipamentos {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.idclass,
.idface,
.idflex {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    font-size: 18px;
    text-align: justify;
    padding: 1rem;
}

.idclass img,
.idface img,
.idflex img {
    width: 600px;
    height: 600px;
    border-radius: 50%;
    margin-top: 2rem;
}

.equipamentos p {
    font-size: 20px;
    font-weight: 600;
}

.solucoes_ponto {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.solucoes_card {
    width: 100%;
    height: 820px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 2rem;
    background-image: url(../img/fundo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.cards {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.cards div {
    background-color: var(--text-color);
    width: 400px;
    height: 280px;
    text-align: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.video {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.video video {
    width: 40em;
    border-radius: 10px;
    border: 2px solid var(--primary);
}

.solucoes_card h3 {
    color: var(--background-vantagens);
    font-size: 25px;
    margin-bottom: 2rem;
    border-bottom: var(--primary) solid 2px;
}

.solucoes_card p {
    color: var(--text-secondary);
    font-size: 20px;
    margin-top: 4rem;
}

.sistema_ponto {
    width: 100%;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sistema_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sistema_texto,
.sistema_video {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
}

.sistema_texto p {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2rem;
}

.sistema_video video {
    width: 40em;
    margin-top: 1rem;
}

.sistema_video h3 {
    color: var(--primary);
    font-size: 25px;
    margin-bottom: 2rem;
    border-bottom: var(--background-vantagens) solid 2px;
}